Repository edjchapman/claude-code-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicates, validate-frontmatter, validate-settings-merge

check-duplicates:
  name: Check for duplicate names in agents/commands/skills
  entry: scripts/hooks/check-duplicates.sh
  language: script
  pass_filenames: false

validate-frontmatter:
  name: Validate Markdown frontmatter (YAML)
  entry: 'bash -c ''python3 scripts/validate-frontmatter.py agents name description model && python3 scripts/validate-frontmatter.py skills name description globs''
  
    '
  language: system
  pass_filenames: false

validate-settings-merge:
  name: Validate settings template merging
  entry: 'bash -c ''for f in settings-templates/*.json; do name=$(basename "$f" .json); if [ "$name" != "base" ]; then echo "Testing merge: base + $name"; python3 scripts/merge-settings.py settings-templates base "$name" > /dev/null || exit 1; fi; done''
  
    '
  ...

feat(skills): add root-cause-analysis skill for Python bug fixes
  CLAUDE.md
  skills/root-cause-analysis.md
Due: check-duplicates, validate-frontmatter

feat(commands): add /scope command for task boundary definition
  commands/scope.md
Due: check-duplicates

feat(commands): add /ship-it command for end-to-end shipping workflow
  commands/ship-it.md
Due: check-duplicates

docs(CLAUDE): add tooling troubleshooting fail-fast guidance
  CLAUDE.md
Due: none

chore(agents): remove deprecated agents for cleanup and maintainability
  CLAUDE.md
  README.md
  agents/career-adviser.md
  agents/content-reviewer.md
  agents/fix.md
  agents/implement.md
  agents/refactor.md
  agents/review-pr.md
  agents/ship.md
  agents/ticket-writer.md
  commands/context.md
  commands/explain.md
  commands/format-release-notes.md
  commands/generate-changelog.md
  commands/lint.md
  commands/scope.md
  commands/ship-it.md
  keybindings.json
  scripts/hooks/format-js.sh
  scripts/hooks/format-python.sh
  scripts/hooks/log-tool-failure.sh
  scripts/hooks/notify-permission.sh
  scripts/hooks/project-init.sh
  scripts/hooks/session-end.sh
  scripts/setup-global.sh
  settings.json
Due: check-duplicates, validate-frontmatter

Remove deprecated workflow files and ancillary configuration scripts.
  .github/workflows/claude-changelog.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/validate-config.yml
  .markdownlint.json
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/mcp-servers.md
  githooks/pre-push
  github-actions/claude-changelog.yml
  github-actions/claude-issue-triage.yml
  github-actions/claude-pr-review.yml
  macos/launchagents/com.claude.daily-report.plist
  macos/raycast/claude-open-project.sh
  macos/raycast/claude-review-changes.sh
  project-configs/clarion-app/CLAUDE.md
  pyproject.toml
  scripts/validate-frontmatter.py
  templates/CLAUDE.local.md.example
  web_shortcuts/prepare-standup-notes.md
Due: none

chore(mcp): drop unused react.json template
  CLAUDE.md
  README.md
  mcp-templates/react.json
Due: none

chore(mcp): drop unused react.json template (#3)
  CLAUDE.md
  README.md
  mcp-templates/react.json
Due: none

chore(agents): retune pattern-based agents to sonnet
  README.md
  agents/ci-debugger.md
  agents/dependency-manager.md
  agents/documentation-writer.md
  agents/e2e-playwright-engineer.md
  agents/git-helper.md
  agents/pr-review-bundler.md
  agents/test-engineer.md
Due: check-duplicates, validate-frontmatter

chore(agents): retune pattern-based agents to sonnet (#4)
  README.md
  agents/ci-debugger.md
  agents/dependency-manager.md
  agents/documentation-writer.md
  agents/e2e-playwright-engineer.md
  agents/git-helper.md
  agents/pr-review-bundler.md
  agents/test-engineer.md
Due: check-duplicates, validate-frontmatter

feat(settings): disable Claude commit/PR attribution
  settings.json
Due: none

feat(settings): disable Claude commit/PR attribution (#5)
  settings.json
Due: none

feat(settings): add disabled-by-default sandbox scaffolding
  README.md
  settings.json
Due: none

feat(settings): add disabled-by-default sandbox scaffolding (#6)
  README.md
  settings.json
Due: none

docs(commands,agents): cross-reference commands and agents
  agents/code-reviewer.md
  commands/security-scan.md
  commands/tdd.md
Due: check-duplicates, validate-frontmatter

docs(commands,agents): cross-reference commands and agents (#7)
  agents/code-reviewer.md
  commands/security-scan.md
  commands/tdd.md
Due: check-duplicates, validate-frontmatter

refactor(commands): decouple Jira config from hardcoded BuiltAI URLs
  commands/commit.md
  commands/pr.md
  commands/refinement.md
  commands/standup.md
Due: check-duplicates

refactor(commands): decouple Jira config from hardcoded BuiltAI URLs (#8)
  commands/commit.md
  commands/pr.md
  commands/refinement.md
  commands/standup.md
Due: check-duplicates

docs: tidy CLAUDE.md, document agent frontmatter, add output styles guide
  CLAUDE.md
  README.md
Due: none

docs: tidy CLAUDE.md, document agent frontmatter, add output styles guide (#9)
  CLAUDE.md
  README.md
Due: none

fix(scripts): resolve prettier from git root and gate MCP preview output
  scripts/hooks/format-on-edit.sh
  scripts/setup-project.sh
Due: none

fix(scripts): resolve prettier from git root and gate MCP preview output (#10)
  scripts/hooks/format-on-edit.sh
  scripts/setup-project.sh
Due: none

chore: clean up drift in docs, settings, and rules
  .github/workflows/validate-config.yml
  CLAUDE.md
  rules/react-style.md
  rules/typescript-style.md
  settings.json
Due: none

refactor: retire custom artifacts now covered by enabled plugins
  README.md
  agents/code-reviewer.md
  agents/spec-writer.md
  commands/review.md
  commands/security-scan.md
Due: check-duplicates, validate-frontmatter

feat(skills): migrate workflow commands to skills with when_to_use
  README.md
  skills/adr.md
  skills/commit.md
  skills/hotfix.md
  skills/pr.md
  skills/tdd.md
Due: check-duplicates, validate-frontmatter

feat(settings): adopt outputStyle, worktree, and new hook events
  CLAUDE.md
  scripts/hooks/log-tool-failure.sh
  scripts/hooks/task-completed-chime.sh
  settings.json
Due: none

feat(mcp): add nextjs and fastapi MCP templates
  CLAUDE.md
  README.md
  mcp-templates/fastapi.json
  mcp-templates/nextjs.json
Due: none

feat(plugin): package as a Claude Code plugin
  .claude-plugin/plugin.json
  CLAUDE.md
  README.md
  settings.json
Due: none

docs(claude-md): add skill/agent/command guidance and prompting section
  CLAUDE.md
Due: none

refactor: retire plugin-redundant artifacts and tidy config drift (#11)
  .github/workflows/validate-config.yml
  CLAUDE.md
  README.md
  agents/code-reviewer.md
  agents/spec-writer.md
  commands/review.md
  commands/security-scan.md
  rules/react-style.md
  rules/typescript-style.md
  settings.json
Due: check-duplicates, validate-frontmatter

feat: modernize config (WS3-WS7) — skills migration, new settings, MCP parity, plugin packaging (#13)
  .claude-plugin/plugin.json
  CLAUDE.md
  README.md
  mcp-templates/fastapi.json
  mcp-templates/nextjs.json
  scripts/hooks/log-tool-failure.sh
  scripts/hooks/task-completed-chime.sh
  settings.json
  skills/adr.md
  skills/commit.md
  skills/hotfix.md
  skills/pr.md
  skills/tdd.md
Due: check-duplicates, validate-frontmatter

chore: add .github scaffolding and housekeeping files
  .editorconfig
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  CONTRIBUTING.md
  SECURITY.md
Due: none

chore: ignore uv.lock
  .gitignore
Due: none

feat(tooling): add pre-commit framework
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierignore
  CONTRIBUTING.md
  pyproject.toml
Due: none

feat(release): add release-please workflow and config
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

Path conditions:
  check-duplicates: any of: ^(agents|commands|skills)/.*\.md$
  validate-frontmatter: any of: ^(agents|skills)/.*\.md$
  validate-settings-merge: any of: ^settings-templates/.*\.json$
