Repository edjchapman/claude-code-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicates, validate-frontmatter, validate-settings-merge

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Code configuration repository
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # ===== Phase 1: File Hygiene =====
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        name: Fix missing newline at EOF
      - id: mixed-line-ending
        name: Normalize line endings to LF
        args: [--fix=lf]
      - id: check-merge-conflict
        name: Check for merge conflict markers
      - id: check-shebang-scripts-are-executable
        name: Verify shebang scripts are executable
      - id: check-executables-have-shebangs
        name: Verify executables have shebangs

  # ===== Phase 2: YAML/JSON Validation =====
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Validate YAML syntax
        args: [--unsafe]  # Allow custom YAML tags if needed
      - id: check-json
        name: Validate JSON syntax
        files: \.(json)$

  # ===== Phase 3: Shell Scripts =====
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        name: Lint shell scripts (shellcheck)
        args: [--severity=warning]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        name: Format shell scripts (shfmt)
        args: [-i, '2', -ci, -sr, -w]  # 2-space indent, indent switch cases, space redirects, write

  # ===== Phase 4: Python =====
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: Format Python files (ruff)
      - id: ruff
        name: Lint Python files (ruff)
        args: [--fix, --exit-non-zero-on-fix]

  # ===== Phase 5: Markdown =====
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files (markdownlint)
        args: [--fix]

  # ===== Phase 6: Custom Validation =====
  - repo: local
    hooks:
      - id: check-duplicates
        name: Check for duplicate names in agents/commands/skills
        entry: scripts/hooks/check-duplicates.sh
        language: script
        pass_filenames: false
        files: ^(agents|commands|skills)/.*\.md$

      - id: validate-frontmatter
        name: Validate Markdown frontmatter (YAML)
        entry: >
          bash -c 'python3 scripts/validate-frontmatter.py agents name description model
          && python3 scripts/validate-frontmatter.py skills name description globs'
        language: system
        pass_filenames: false
        files: ^(agents|skills)/.*\.md$

      - id: validate-settings-merge
        name: Validate settings template merging
        entry: >
          bash -c 'for f in settings-templates/*.json; do
          name=$(basename "$f" .json);
          if [ "$name" != "base" ]; then
          echo "Testing merge: base + $name";
          python3 scripts/merge-settings.py settings-templates base "$name" > /dev/null || exit 1;
          fi; done'
        language: system
        pass_filenames: false
        files: ^settings-templates/.*\.json$

fix(settings): update hooks to new matcher-based format
  settings.json
Due: none

fix(hooks): convert matcher format from object to string
  settings.json
Due: none

docs(hooks): document correct string-based matcher format
  CLAUDE.md
Due: none

fix(settings): refine prompt text for hooks validation
  settings.json
Due: none

fix(hooks): use natural language in Stop hook prompt
  settings.json
Due: none

feat: introduce rules for scoped code style enforcement and enhanced setup
  .claude/settings.local.json
  CLAUDE.md
  README.md
  agents/fix.md
  agents/implement.md
  agents/pr-review-bundler.md
  agents/refactor.md
  agents/spec-writer.md
  rules/python-style.md
  rules/react-style.md
  rules/typescript-style.md
  scripts/hooks/log-tool-failure.sh
  scripts/setup-global.sh
  scripts/setup-project.sh
  settings-templates/base.json
  settings.json
  skills/coding-standards.md
  skills/django-patterns.md
  skills/docker-patterns.md
  skills/infrastructure.md
Due: check-duplicates, validate-frontmatter, validate-settings-merge

fix: address code review issues in feature expansion implementation
  .github/workflows/validate-config.yml
  scripts/cli/review-changes.sh
  scripts/hooks/notify-permission.sh
  scripts/hooks/project-init.sh
  scripts/hooks/session-end.sh
  scripts/hooks/statusline.sh
  scripts/merge-mcp.py
  scripts/merge-settings.py
  scripts/setup-global.sh
Due: none

feat: add CLI scripts, MCP templates, GitHub Actions, macOS automation, and keybindings
  CLAUDE.md
  README.md
  githooks/pre-push
  github-actions/claude-changelog.yml
  github-actions/claude-issue-triage.yml
  github-actions/claude-pr-review.yml
  keybindings.json
  macos/launchagents/com.claude.daily-report.plist
  macos/raycast/claude-open-project.sh
  macos/raycast/claude-review-changes.sh
  mcp-templates/base.json
  mcp-templates/django.json
  mcp-templates/react.json
  scripts/cli/daily-report.sh
  scripts/cli/explain-error.sh
  scripts/cli/review-pr.sh
  scripts/setup-project.sh
  settings-templates/base.json
  settings.json
  templates/CLAUDE.local.md.example
Due: validate-settings-merge

feat: expand settings and add GitHub Actions for changelog, issue triage, and PR review
  .claude/settings.local.json
  .github/workflows/claude-changelog.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-pr-review.yml
  .mcp.json
Due: none

update: change all project paths from `~/claude-code-config` to `~/Development/claude-code-config` in scripts, documentation, and configuration files
  CLAUDE.md
  README.md
  githooks/pre-push
  macos/launchagents/com.claude.daily-report.plist
  macos/raycast/claude-review-changes.sh
  scripts/setup-global.sh
Due: none

update(settings): reorder fields and add `enabledMcpjsonServers` to `.claude/settings.local.json`
  .claude/settings.local.json
Due: none

chore(gitignore): add Python cache files (`__pycache__/`) to `.gitignore`
  .gitignore
Due: none

chore(gitignore): add Python cache files (`__pycache__/`) to `.gitignore`
  commands/eow-review.md
Due: check-duplicates

refactor(keybindings): rename `customKeybindings` to `bindings`
  keybindings.json
Due: none

feat: update Django review guidelines, hook scripts, and skill matching
  CLAUDE.md
  README.md
  agents/code-reviewer.md
  agents/django-code-reviewer.md
  scripts/hooks/dangerous-cmd-check.sh
  scripts/hooks/format-on-edit.sh
  scripts/hooks/format-python.sh
  settings.json
Due: check-duplicates, validate-frontmatter

feat: add content reviewer agent and update README
  README.md
  agents/content-reviewer.md
Due: check-duplicates, validate-frontmatter

feat: add career adviser agent and update documentation
  README.md
  agents/career-adviser.md
Due: check-duplicates, validate-frontmatter

Update settings configuration: add `outputStyle` and reorganize JSON
  .claude/settings.local.json
  settings.json
Due: none

feat(commands): overhaul format-release-notes with Slack, Notion, and GitHub publishing
  commands/format-release-notes.md
Due: check-duplicates

feat(commands): add `/later` command for personal backlog management
  commands/later.md
Due: check-duplicates

docs: expand README with detailed explanations of tools, workflows, and orchestrators
  README.md
Due: none

docs: enhance Django testing documentation with updated flags and patterns
  README.md
  agents/ship.md
  agents/test-engineer.md
  commands/coverage-report.md
  commands/hotfix.md
  commands/tdd.md
  skills/testing-patterns.md
Due: check-duplicates, validate-frontmatter

docs(commands): streamline `/deps` and `/review` usage descriptions
  commands/deps.md
  commands/review.md
Due: check-duplicates

docs(agents): update model configuration from `sonnet` to `opus` for all agents
  agents/content-reviewer.md
  agents/dependency-manager.md
  agents/documentation-writer.md
  agents/fix.md
  agents/git-helper.md
  agents/implement.md
  agents/refactor.md
  agents/review-pr.md
  agents/ship.md
  agents/test-engineer.md
Due: check-duplicates, validate-frontmatter

chore(settings): update MCP server config and enhance setup script with backup logic
  .claude/settings.local.json
  CLAUDE.md
  docs/mcp-servers.md
  mcp-templates/django.json
  scripts/setup-project.sh
Due: none

feat(project-configs): add clarion-app CLAUDE.md backup
  project-configs/clarion-app/CLAUDE.md
Due: none

docs(clarion-app): update CLI testing path for clarity
  project-configs/clarion-app/CLAUDE.md
Due: none

chore(settings): allow Atlassian MCP commands in `.claude/settings.local.json`
  .claude/settings.local.json
Due: none

feat(settings): add customizable hooks for session, tool usage, and notifications
  settings.json
Due: none

feat(commands): add Notion sync and daily log enhancements for standups
  commands/standup.md
  commands/status.md
  scripts/hooks/session-end.sh
Due: check-duplicates

chore(settings): reorder `statusLine` for better readability
  settings.json
Due: none

chore(config): update keybindings, MCP server config, and allowed commands
  .claude/settings.local.json
  .mcp.json
  keybindings.json
  settings.json
Due: none

chore(settings): add duplicate check hook to allowed commands in `.claude/settings.local.json` and refine agents documentation formatting
  .claude/settings.local.json
  agents/career-adviser.md
  agents/content-reviewer.md
  commands/deps.md
  commands/eow-review.md
  docs/mcp-servers.md
  project-configs/clarion-app/CLAUDE.md
Due: check-duplicates, validate-frontmatter

docs(agents): add comprehensive guide for `ticket-writer` agent
  agents/ticket-writer.md
Due: check-duplicates, validate-frontmatter

docs(commands): streamline release notes guide and simplify keybindings
  commands/format-release-notes.md
  keybindings.json
Due: check-duplicates

chore(keybindings): update schema and clear bindings array
  keybindings.json
Due: none

chore(settings): remove unused plugins for cleanup and maintainability
  settings.json
Due: none

chore(config): remove unused Playwright MCP server configuration
  .mcp.json
  mcp-templates/react.json
Due: none

chore(settings): update model and add effort level configuration
  settings.json
Due: none

docs(CLAUDE): add scope and implementation philosophy section
  CLAUDE.md
Due: none
