Repository edjchapman/claude-code-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicates, validate-frontmatter, validate-settings-merge

check-duplicates:
  name: Check for duplicate names in agents/commands/skills
  entry: scripts/hooks/check-duplicates.sh
  language: script
  pass_filenames: false

validate-frontmatter:
  name: Validate Markdown frontmatter (YAML)
  entry: 'bash -c ''python3 scripts/validate-frontmatter.py agents name description model && python3 scripts/validate-frontmatter.py skills name description globs''
  
    '
  language: system
  pass_filenames: false

validate-settings-merge:
  name: Validate settings template merging
  entry: 'bash -c ''for f in settings-templates/*.json; do name=$(basename "$f" .json); if [ "$name" != "base" ]; then echo "Testing merge: base + $name"; python3 scripts/merge-settings.py settings-templates base "$name" > /dev/null || exit 1; fi; done''
  
    '
  ...

ci: add markdownlint, actionlint, and lint-pr workflows
  .github/workflows/lint-pr.yml
  .github/workflows/validate-config.yml
Due: none

chore(lint): relax markdownlint config to match existing repo style
  .markdownlint.json
  agents/database-architect.md
  agents/devops-engineer.md
  agents/performance-engineer.md
  commands/coverage-report.md
Due: check-duplicates, validate-frontmatter

style: apply pre-commit prettier auto-fixes
  CLAUDE.md
  README.md
  agents/ci-debugger.md
  agents/dependency-manager.md
  agents/devops-engineer.md
  agents/e2e-playwright-engineer.md
  agents/pr-review-bundler.md
  agents/security-auditor.md
  agents/test-engineer.md
  commands/coverage-report.md
  commands/deps.md
  commands/eow-review.md
  commands/later.md
  commands/refinement.md
  commands/standup.md
  skills/adr.md
  skills/api-design.md
  skills/commit.md
  skills/pr.md
  skills/root-cause-analysis.md
Due: check-duplicates, validate-frontmatter

feat: add repo housekeeping (templates, pre-commit, CI lints, release-please) (#14)
  .editorconfig
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-please.yml
  .github/workflows/validate-config.yml
  .gitignore
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierignore
  .release-please-manifest.json
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  agents/ci-debugger.md
  agents/database-architect.md
  agents/dependency-manager.md
  agents/devops-engineer.md
  agents/e2e-playwright-engineer.md
  agents/performance-engineer.md
  agents/pr-review-bundler.md
  agents/security-auditor.md
  agents/test-engineer.md
  commands/coverage-report.md
  commands/deps.md
  commands/eow-review.md
  commands/later.md
  commands/refinement.md
  commands/standup.md
  pyproject.toml
  release-please-config.json
  skills/adr.md
  skills/api-design.md
  skills/commit.md
  skills/pr.md
  skills/root-cause-analysis.md
Due: check-duplicates, validate-frontmatter

fix(settings): use ${CLAUDE_PLUGIN_DIR:-...} path form for SessionEnd hook
  settings.json
Due: none

feat(commands): add Notion sync and daily log enhancements for standups
  commands/standup.md
  commands/status.md
  scripts/hooks/session-end.sh
  settings.json
Due: check-duplicates

chore(lint): disable MD032 (blanks-around-lists)
  .markdownlint.json
Due: none

feat(commands): add /status, --notion flag, session-end logging (#15)
  .markdownlint.json
  commands/standup.md
  commands/status.md
  scripts/hooks/session-end.sh
  settings.json
Due: check-duplicates

chore: gitignore session-end log artifacts
  .gitignore
Due: none

chore: gitignore session-end log artifacts (#21)
  .gitignore
Due: none

fix(release-please): align manifest with actual release history
  .claude-plugin/plugin.json
  .release-please-manifest.json
  release-please-config.json
Due: none

fix(release-please): align manifest with actual release history (1.2.0) (#23)
  .claude-plugin/plugin.json
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: sync docs and migrate skill frontmatter to canonical fields
  .github/workflows/validate-config.yml
  CLAUDE.md
  README.md
  commands/coverage-report.md
  commands/deps.md
  commands/later.md
  commands/refinement.md
  commands/standup.md
  commands/status.md
  scripts/check-docs-drift.sh
  skills/adr.md
  skills/api-design.md
  skills/commit.md
  skills/django-patterns.md
  skills/docker-patterns.md
  skills/git-workflow.md
  skills/hotfix.md
  skills/infrastructure.md
  skills/pr.md
  skills/root-cause-analysis.md
  skills/security-review.md
  skills/tdd.md
  skills/testing-patterns.md
Due: check-duplicates, validate-frontmatter

fix(docs): inline single-line code block to satisfy MD031
  CLAUDE.md
Due: none

chore: sync docs and migrate skill frontmatter to canonical fields (#25)
  .github/workflows/validate-config.yml
  CLAUDE.md
  README.md
  commands/coverage-report.md
  commands/deps.md
  commands/later.md
  commands/refinement.md
  commands/standup.md
  commands/status.md
  scripts/check-docs-drift.sh
  skills/adr.md
  skills/api-design.md
  skills/commit.md
  skills/django-patterns.md
  skills/docker-patterns.md
  skills/git-workflow.md
  skills/hotfix.md
  skills/infrastructure.md
  skills/pr.md
  skills/root-cause-analysis.md
  skills/security-review.md
  skills/tdd.md
  skills/testing-patterns.md
Due: check-duplicates, validate-frontmatter

fix(ci): exclude auto-generated CHANGELOG.md from markdownlint
  .markdownlintignore
Due: none

fix(ci): exclude auto-generated CHANGELOG.md from markdownlint (#26)
  .markdownlintignore
Due: none

fix(ci): exclude CHANGELOG.md via markdownlint-cli2 globs negation
  .github/workflows/validate-config.yml
Due: none

fix(ci): exclude CHANGELOG.md via markdownlint-cli2 globs negation (#27)
  .github/workflows/validate-config.yml
Due: none

chore(ci): use RELEASE_PLEASE_TOKEN PAT with GITHUB_TOKEN fallback
  .github/workflows/release-please.yml
Due: none

chore(ci): use RELEASE_PLEASE_TOKEN PAT with GITHUB_TOKEN fallback (#28)
  .github/workflows/release-please.yml
Due: none

feat(plugin): add hooks/hooks.json and default review agents to plan mode
  CLAUDE.md
  agents/database-architect.md
  agents/devops-engineer.md
  agents/migration-engineer.md
  agents/security-auditor.md
  hooks/hooks.json
Due: check-duplicates, validate-frontmatter

refactor(settings): split universal and personal enabledPlugins
  CLAUDE.md
  scripts/setup-global.sh
  settings.json
  settings.personal.json.example
Due: none

feat(mcp): add python and node SQLite templates; extend CI hook validation
  .github/workflows/validate-config.yml
  CLAUDE.md
  mcp-templates/node.json
  mcp-templates/python.json
Due: none

refactor(commands): retire /deps and /coverage-report; sharpen /adr trigger
  CLAUDE.md
  commands/coverage-report.md
  commands/deps.md
  skills/adr.md
Due: check-duplicates, validate-frontmatter

refactor(config): distribution safety and skill surface simplification (#29)
  .github/workflows/validate-config.yml
  CLAUDE.md
  agents/database-architect.md
  agents/devops-engineer.md
  agents/migration-engineer.md
  agents/security-auditor.md
  commands/coverage-report.md
  commands/deps.md
  hooks/hooks.json
  mcp-templates/node.json
  mcp-templates/python.json
  scripts/setup-global.sh
  settings.personal.json.example
  skills/adr.md
Due: check-duplicates, validate-frontmatter

feat(home): add global CLAUDE.md and symlink it from ~/.claude/
  home/CLAUDE.md
  scripts/setup-global.sh
Due: none

chore(main): release 1.4.0
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release 1.4.0 (#30)
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

docs(tooling): align check-commit-msg OK message with Conventional Commits wording
  tooling/scripts/check-commit-msg.sh
Due: none

docs(claude): document setup-project --tooling + install-tooling.sh in Key Scripts
  CLAUDE.md
Due: none

feat(scripts): add setup-project --tooling to vendor a project quality-gate layer
  .prettierignore
  README.md
  pyproject.toml
  scripts/install-tooling.sh
  scripts/setup-project.sh
  tooling/Makefile
  tooling/editorconfig
  tooling/githooks/commit-msg
  tooling/githooks/pre-commit
  tooling/github/workflows/check.yml
  tooling/github/workflows/commit-style.yml
  tooling/github/workflows/scheduled-check.yml
  tooling/markdownlint-cli2.jsonc
  tooling/scripts/_lib-stale-branches.sh
  tooling/scripts/check-commit-msg.sh
  tooling/scripts/check-links.sh
  tooling/scripts/check-stale-branches.sh
  tooling/scripts/check_anchors.py
  tooling/scripts/sweep-stale-branches.sh
Due: none

feat(scripts): add setup-project --tooling to vendor a project quality-gate layer (#33)
  .prettierignore
  CLAUDE.md
  README.md
  pyproject.toml
  scripts/install-tooling.sh
  scripts/setup-project.sh
  tooling/Makefile
  tooling/editorconfig
  tooling/githooks/commit-msg
  tooling/githooks/pre-commit
  tooling/github/workflows/check.yml
  tooling/github/workflows/commit-style.yml
  tooling/github/workflows/scheduled-check.yml
  tooling/markdownlint-cli2.jsonc
  tooling/scripts/_lib-stale-branches.sh
  tooling/scripts/check-commit-msg.sh
  tooling/scripts/check-links.sh
  tooling/scripts/check-stale-branches.sh
  tooling/scripts/check_anchors.py
  tooling/scripts/sweep-stale-branches.sh
Due: none

fix(tooling): address code-review findings on the project tooling layer
  .github/workflows/validate-config.yml
  scripts/install-tooling.sh
  scripts/setup-project.sh
  tooling/scripts/check-commit-msg.sh
  tooling/scripts/check-links.sh
  tooling/scripts/check_anchors.py
Due: none

fix(tooling): address code-review follow-ups for setup-project --tooling (#34)
  .github/workflows/validate-config.yml
  scripts/install-tooling.sh
  scripts/setup-project.sh
  tooling/scripts/check-commit-msg.sh
  tooling/scripts/check-links.sh
  tooling/scripts/check_anchors.py
Due: none

feat(settings): suppress Claude git attribution; enable fullscreen TUI
  settings.json
Due: none

docs: sync Settings Keys list with settings.json
  CLAUDE.md
Due: none

feat(settings): disable Claude git attribution on commits and PRs (#35)
  CLAUDE.md
  settings.json
Due: none

chore(main): release 1.5.0
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release 1.5.0 (#36)
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

Path conditions:
  check-duplicates: any of: ^(agents|commands|skills)/.*\.md$
  validate-frontmatter: any of: ^(agents|skills)/.*\.md$
  validate-settings-merge: any of: ^settings-templates/.*\.json$
