Repository edjchapman/claude-code-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicates, validate-frontmatter, validate-settings-merge

check-duplicates:
  name: Check for duplicate names in agents/commands/skills
  entry: scripts/hooks/check-duplicates.sh
  language: script
  pass_filenames: false

validate-frontmatter:
  name: Validate Markdown frontmatter (YAML)
  entry: 'bash -c ''python3 scripts/validate-frontmatter.py agents name description model && python3 scripts/validate-frontmatter.py skills name description globs''
  
    '
  language: system
  pass_filenames: false

validate-settings-merge:
  name: Validate settings template merging
  entry: 'bash -c ''for f in settings-templates/*.json; do name=$(basename "$f" .json); if [ "$name" != "base" ]; then echo "Testing merge: base + $name"; python3 scripts/merge-settings.py settings-templates base "$name" > /dev/null || exit 1; fi; done''
  
    '
  ...

feat(tooling): add Claude-on-web bootstrap to the --tooling payload
  README.md
  scripts/install-tooling.sh
  scripts/setup-project.sh
  tooling/claude-hooks/session-start.sh
  tooling/claude-settings.json
Due: none

feat(tooling): add Claude-on-web bootstrap to the --tooling payload (#38)
  README.md
  scripts/install-tooling.sh
  scripts/setup-project.sh
  tooling/claude-hooks/session-start.sh
  tooling/claude-settings.json
Due: none

chore(main): release 1.6.0
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release 1.6.0 (#39)
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

docs: restructure README with TOC, grouped sections, and collapsible reference
  README.md
Due: none

docs: restore hook/cli script listing in directory tree
  README.md
Due: none

docs: portfolio-grade README — TOC, grouped sections, collapsible reference (#41)
  README.md
Due: none

docs: add root-cause-analysis skill to README skills table
  README.md
Due: none

docs(home): note the --tooling/--hooks ggshield gotcha
  home/CLAUDE.md
Due: none

docs(home): note the --tooling/--hooks ggshield gotcha (#40)
  home/CLAUDE.md
Due: none

docs: add root-cause-analysis skill to README skills table (#42)
  README.md
Due: none

feat(templates): add AWS IaC MCP + permission template
  CLAUDE.md
  README.md
  mcp-templates/aws.json
  settings-templates/aws.json
Due: validate-settings-merge

feat(templates): add AWS IaC MCP + permission template (#37)
  CLAUDE.md
  README.md
  mcp-templates/aws.json
  settings-templates/aws.json
Due: validate-settings-merge

chore(main): release 1.7.0
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release 1.7.0 (#43)
  .claude-plugin/plugin.json
  .release-please-manifest.json
  CHANGELOG.md
Due: none

docs: fix README count drift, add demo GIF + architecture diagram
  README.md
  demo.tape
  docs/demo.gif
Due: none

docs: re-record demo GIF from a sample project dir
  demo.tape
  docs/demo.gif
Due: none

docs: polish README accuracy and add demo GIF + architecture diagram (#44)
  README.md
  demo.tape
  docs/demo.gif
Due: none

chore: refresh claude code configuration
  .mcp.json
  README.md
  hooks/hooks.json
  settings.json
  settings.local.json
Due: none

chore(config): clean up settings and simplify hook fallbacks
  hooks/hooks.json
  settings.json
Due: none

docs: sync README and CLAUDE.md with settings.json cleanup
  CLAUDE.md
  README.md
Due: none

fix: align Claude Code primitive layout
  commands/adr.md
  commands/commit.md
  commands/hotfix.md
  commands/pr.md
  commands/tdd.md
  skills/api-design/SKILL.md
  skills/django-patterns/SKILL.md
  skills/docker-patterns/SKILL.md
  skills/git-workflow/SKILL.md
  skills/infrastructure/SKILL.md
  skills/root-cause-analysis/SKILL.md
  skills/security-review/SKILL.md
  skills/testing-patterns/SKILL.md
Due: check-duplicates, validate-frontmatter

docs: document Claude Code plugin layout
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  scripts/check-docs-drift.sh
  scripts/hooks/check-duplicates.sh
Due: none

fix: satisfy markdown lint
  CHANGELOG.md
Due: none

fix(hooks): use portable readlink and env-bash shebangs
  hooks/hooks.json
  scripts/cli/daily-report.sh
  scripts/cli/explain-error.sh
  scripts/cli/review-changes.sh
  scripts/cli/review-pr.sh
  scripts/hooks/dangerous-cmd-check.sh
  scripts/hooks/format-on-edit.sh
  scripts/hooks/log-tool-failure.sh
  scripts/hooks/pre-compact-state.sh
  scripts/hooks/session-context.sh
  scripts/hooks/session-end.sh
  scripts/hooks/statusline.sh
  scripts/hooks/task-completed-chime.sh
  scripts/setup-global.sh
  scripts/setup-project.sh
  settings.json
Due: none

feat(ci): add runnable hooks-sync validator
  .github/workflows/validate-config.yml
  scripts/check-hooks-sync.py
Due: none

refactor(agents): condense routing descriptions to cut tokens
  agents/bug-resolver.md
  agents/ci-debugger.md
  agents/database-architect.md
  agents/dependency-manager.md
  agents/devops-engineer.md
  agents/documentation-writer.md
  agents/e2e-playwright-engineer.md
  agents/git-helper.md
  agents/migration-engineer.md
  agents/performance-engineer.md
  agents/pr-review-bundler.md
  agents/refactoring-engineer.md
  agents/security-auditor.md
  agents/test-engineer.md
Due: check-duplicates, validate-frontmatter

refactor(skills): compact git-workflow commit-type list
  skills/git-workflow.md
Due: check-duplicates, validate-frontmatter

docs: correct skill path lists and note hooks-sync check
  CLAUDE.md
  README.md
Due: none

docs: note MessageDisplay hook event and new opt-in settings
  CLAUDE.md
Due: none

chore: portability, token, and CI hardening sweep (#46)
  .github/workflows/validate-config.yml
  CLAUDE.md
  README.md
  agents/bug-resolver.md
  agents/ci-debugger.md
  agents/database-architect.md
  agents/dependency-manager.md
  agents/devops-engineer.md
  agents/documentation-writer.md
  agents/e2e-playwright-engineer.md
  agents/git-helper.md
  agents/migration-engineer.md
  agents/performance-engineer.md
  agents/pr-review-bundler.md
  agents/refactoring-engineer.md
  agents/security-auditor.md
  agents/test-engineer.md
  hooks/hooks.json
  scripts/check-hooks-sync.py
  scripts/cli/daily-report.sh
  scripts/cli/explain-error.sh
  scripts/cli/review-changes.sh
  scripts/cli/review-pr.sh
  scripts/hooks/dangerous-cmd-check.sh
  scripts/hooks/format-on-edit.sh
  scripts/hooks/log-tool-failure.sh
  scripts/hooks/pre-compact-state.sh
  scripts/hooks/session-context.sh
  scripts/hooks/session-end.sh
  scripts/hooks/statusline.sh
  scripts/hooks/task-completed-chime.sh
  scripts/setup-global.sh
  scripts/setup-project.sh
  settings.json
  skills/git-workflow.md
Due: check-duplicates, validate-frontmatter

refactor(skills): adopt nested SKILL.md layout, move workflow skills to commands
  commands/adr.md
  commands/commit.md
  commands/hotfix.md
  commands/pr.md
  commands/tdd.md
  scripts/check-docs-drift.sh
  scripts/hooks/check-duplicates.sh
  settings.local.json
  skills/api-design/SKILL.md
  skills/django-patterns/SKILL.md
  skills/docker-patterns/SKILL.md
  skills/git-workflow/SKILL.md
  skills/infrastructure/SKILL.md
  skills/root-cause-analysis/SKILL.md
  skills/security-review/SKILL.md
  skills/testing-patterns/SKILL.md
Due: check-duplicates, validate-frontmatter

docs: update skills/commands docs for nested SKILL.md layout
  CLAUDE.md
  README.md
Due: none

refactor(skills): adopt nested SKILL.md layout, move workflow skills to commands (#47)
  CLAUDE.md
  README.md
  commands/adr.md
  commands/commit.md
  commands/hotfix.md
  commands/pr.md
  commands/tdd.md
  scripts/check-docs-drift.sh
  scripts/hooks/check-duplicates.sh
  settings.local.json
  skills/api-design/SKILL.md
  skills/django-patterns/SKILL.md
  skills/docker-patterns/SKILL.md
  skills/git-workflow/SKILL.md
  skills/infrastructure/SKILL.md
  skills/root-cause-analysis/SKILL.md
  skills/security-review/SKILL.md
  skills/testing-patterns/SKILL.md
Due: check-duplicates, validate-frontmatter

chore(settings): remove deprecated `model` property from settings.json
  settings.json
Due: none

chore(settings): remove deprecated `model` property from settings.json (#49)
  settings.json
Due: none

fix(settings): restore canonical model key and correct its docs
  CLAUDE.md
  settings.json
Due: none

feat(hooks): adopt native prompt-type LLM hooks, enable Stop gate by default
  CLAUDE.md
  README.md
  hooks/hooks.json
  settings.json
Due: none

feat(skills): migrate commands/ to canonical nested skills layout
  CLAUDE.md
  README.md
  home/CLAUDE.md
  scripts/check-docs-drift.sh
  scripts/hooks/check-duplicates.sh
  scripts/setup-global.sh
  scripts/setup-project.sh
  skills/adr/SKILL.md
  skills/commit/SKILL.md
  skills/eow-review/SKILL.md
  skills/hotfix/SKILL.md
  skills/later/SKILL.md
  skills/pr/SKILL.md
  skills/refinement/SKILL.md
  skills/standup/SKILL.md
  skills/status/SKILL.md
  skills/tdd/SKILL.md
Due: check-duplicates, validate-frontmatter

feat(automation): scheduled cloud routines for standup + eow-review
  CLAUDE.md
  README.md
Due: none

Path conditions:
  check-duplicates: any of: ^(agents|commands|skills)/.*\.md$
  validate-frontmatter: any of: ^(agents|skills)/.*\.md$
  validate-settings-merge: any of: ^settings-templates/.*\.json$
